.App {
  min-height: 100vh;
  background-image: url(https://i.pinimg.com/564x/a3/ca/84/a3ca84a934958f23d53e1462238bca5d.jpg);
}

.search-form {
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  border: none;
  padding: 10px 20px;
  color: white;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.h1 {
  font-family: cursive;
}